<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Not Found</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <main class="h-screen w-full bg-zinc-900 text-slate-300 flex flex-col items-center justify-center">
    <h1 class="text-3xl font-medium mb-5">Woops! Something went wrong</h1>
    <p>Let's Start from the starting</p>
    <p>Ready? Let's Go!</p>
    <div class="space-x-3 mt-5">
      <a class="px-5 py-2 rounded-full border border-white font-semibold hover:bg-blue-600 bg-blue-500" href="/">Sign Up</a>
      <a class="px-5 py-2 rounded-full border border-white font-semibold hover:bg-yellow-600 bg-yellow-500" href="/login">Sign In</a>
    </div>
  </main>
    
</body>
</html>